:root {
    --primary: #333333;
    --links: #444444;
    --bg: #EFEFEF;
    --bg-center: #FFFFFF;
    --shaded: #F9F9F9;
    --border: #EEEEEE;
    --accent-a: #00CC66;
    --accent-b: #3399FF;
    --card-width: 460px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #CCCCCC;
        --links: #AAAAAA;
        --bg: #3E3E3E;
        --bg-center: #333333;
        --shaded: #343434;
        --border: #555555;
    }
}

html, body {
    margin: 0;
    color: var(--primary);
    background: radial-gradient(ellipse at center, var(--bg-center) 0%, var(--bg) 100%);
    font-family: 'Open Sans', sans-serif;
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: color 0.25s ease;
}

a:hover {
    color: var(--accent-a);
}

.shadow {
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.profilelink {
    color: var(--links);
    text-align: center;
}

.linkicon {
    font-size: 28px;
    margin-bottom: 8px;
}

.spacer {
    margin: 16px;
}

#content {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#picture {
    position: relative;
    top: -64px;
    margin-bottom: -64px;
    left: calc(var(--card-width) / 2 - 64px);
    width: 128px;
    height: 128px;
    border-radius: 64px;
}

#card {
    margin-top: 64px;
    width: var(--card-width);
    border-radius: 0 64px 0 64px;
    background-color: var(--shaded);
    border: 1px solid var(--border);
}

#card_content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

#yapa_l {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 35%;
    min-height: 110%;
}

#yapa_r {
    position: absolute;
    top: -5%;
    right: -5%;
    width: 35%;
    min-height: 110%;
}
