:root {
    /*light*/
    --primary-light: #222;
    --bg-light: #EEE;
    --shaded-light: #CCC;
    --primary-dark: #EEE;
    /*dark*/
    --bg-dark: #222;
    --shaded-dark: #444;
    /*accent*/
    --accent-a: #00CC66;
    --accent-b: #3399FF;
}

html, body {
    margin: 0;
    background-color: var(--bg-light);
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#yapa_tl {
    position: absolute;
    top: -1%;
    left: -1%;
    width: 55%;
    height: 55%;
}

#yapa_br {
    position: absolute;
    bottom: -1%;
    right: -1%;
    width: 55%;
    height: 55%;
}
